<% @title_tag = "Add New Course" %>
<% @body_id = "add-new-course" %>

<% # Title tag %>
<% content_for :head do
  @title_tag
end %>

<% # Body tag ID %>
<% content_for :body_id do
  @body_id
end %>

<section>
	<article>
	  <div class="container narrow">
		<div class="row">
		  <div class="col-md-12">
			<h1>Add New Course</h1>
		  </div>
		</div>

		<div class="row">
		  <form id="login-register-form" action="/courses/new" method="post">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

			<div class="col-md-2">
			  <label for="name">Name</label>
			</div>
			<div class="col-md-10">
			  <input type="text" name="course[name]" />
			</div>

			<div class="col-md-2">
			  <label for="street">Street</label>
			</div>
			<div class="col-md-10">
			  <input type="text" name="course[street]" />
			</div>

			<div class="col-md-2">
			  <label for="city">City</label>
			</div>
			<div class="col-md-10">
			  <input type="text" name="course[city]" />
			</div>

			<div class="col-md-2">
			  <label for="state">State</label>
			</div>
			<div class="col-md-10">
			  <input type="text" name="course[state]" />
			</div>

			<div class="col-md-2">
			  <label for="zip_code">Zip Code</label>
			</div>
			<div class="col-md-10">
			  <input type="text" name="course[zip_code]" />
			</div>

			<div class="col-md-2">
			  <label for="google_map">Google Map Link</label>
			</div>
			<div class="col-md-10">
			  <input type="text" name="course[google_map]" />
			</div>

			<div class="col-md-10 col-md-offset-2">
			  <input type="submit" value="Create" />
			</div>

		  </form>
		</div>
	  </div>

	</article>

</section>